Repository aristobyte-team/aristobyte-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml,html}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: dummy commit
  packages/cli/src/main/index.ts
Due: eslint --fix

feat: change the push script in bump-and-tag ci
  .github/workflows/bump-and-tag.yml
Due: prettier --write

chore: cleanup build-and-publish.yml
  .github/workflows/build-and-publish.yml
Due: prettier --write

chore: unify workflows into single release-stable
  .github/workflows/build-and-publish.yml
  .github/workflows/release-stable.yml
Due: prettier --write

chore: unify workflows and create release step
  .github/RELEASE_NOTE.md
  .github/workflows/release-stable.yml
Due: prettier --write

fix: add github token into release step
  .github/workflows/release-stable.yml
Due: prettier --write

fix: add version env var into create release step
  .github/workflows/release-stable.yml
Due: prettier --write

fix: publish to github pages and npm registry
  .github/workflows/release-stable.yml
Due: prettier --write

fix: resolve issue with changeset publish registry
  .github/workflows/release-stable.yml
  .todo
Due: prettier --write

fix: read correct github token from secrets
  .github/workflows/release-stable.yml
Due: prettier --write

fix: use npm publish for gh pages and changeset for npm registry
  .changeset/config.json
  .github/workflows/release-stable.yml
Due: prettier --write

chore: dummy commit
  README.md
Due: prettier --write

feat: enhance build script and publish all packages to npm and gh
  .eslintignore
  .github/workflows/release-stable.yml
  .gitignore
  .prettierignore
  .stylelintignore
  README.md
  packages/anchor/package.json
  packages/button/package.json
  packages/card/package.json
  packages/cli/bin/aristobyte-ui.js
  packages/cli/package.json
  packages/dropdown/package.json
  packages/eslint-config/package.json
  packages/jest-config/package.json
  packages/label/package.json
  packages/message-box/package.json
  packages/presets/package.json
  packages/radio/package.json
  packages/react/package.json
  packages/spinner/package.json
  packages/switch/package.json
  packages/typescript-config/tsconfig.base.json
  packages/typescript-config/tsconfig.next.json
  packages/typescript-config/tsconfig.package.json
  packages/typescript-config/tsconfig.react.json
  packages/utils/aristobyte-ui.settings.scss
  packages/utils/package.json
  scripts/build.sh
  scripts/create-package.sh
  scripts/publish.sh
  tsconfig.build.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve issues with config build and remove tailwindcss
  .todo
  @types/@next/eslint-plugin-next.d.ts
  @types/@package/ui-kit/index.d.ts
  @types/@package/ui-kit/settings.d.ts
  @types/eslint-plugin-only-warn.d.ts
  @types/eslint-plugin-react-hooks.d.ts
  @types/eslint-plugin-react.d.ts
  packages/eslint-config/@types/eslint-plugin-only-warn.d.ts
  packages/eslint-config/eslint.base.ts
  packages/eslint-config/eslint.next.ts
  packages/eslint-config/eslint.react.ts
  packages/eslint-config/package.json
  packages/eslint-config/src/main/eslint.base.ts
  packages/eslint-config/src/main/eslint.next.ts
  packages/eslint-config/src/main/eslint.react.ts
  packages/eslint-config/src/main/index.ts
  packages/jest-config/jest.next.ts
  packages/jest-config/jest.react.ts
  packages/jest-config/package.json
  packages/jest-config/src/main/index.ts
  packages/jest-config/src/main/jest.base.ts
  packages/jest-config/src/main/jest.next.ts
  packages/jest-config/src/main/jest.react.ts
  packages/react/src/main/index.ts
  packages/switch/src/main/index.ts
  tsconfig.build.json
  tsconfig.webpack.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: resolve issues with typescript-config
  apps/docs/package.json
  packages/typescript-config/tsconfig.base.json
  packages/typescript-config/tsconfig.next.json
  packages/typescript-config/tsconfig.package.json
  packages/typescript-config/tsconfig.react.json
  scripts/build.sh
  yarn.lock
Due: prettier --write

fix: resolve issue with the path of dist inner es and lib
  .todo
  scripts/build.sh
  yarn.lock
Due: none

fix: adjust main + module in package.json
  .todo
  packages/anchor/package.json
  packages/button/package.json
  packages/card/package.json
  packages/cli/package.json
  packages/dropdown/package.json
  packages/label/package.json
  packages/message-box/package.json
  packages/presets/package.json
  packages/radio/package.json
  packages/react/package.json
  packages/spinner/package.json
  packages/switch/package.json
  packages/utils/package.json
  scripts/build.sh
  scripts/create-package.sh
Due: prettier --write

fix: utils/styles path in message-box
  packages/message-box/src/main/components/MessageBox/MessageBox.scss
Due: prettier --write, stylelint --fix

feat: remove changeset publish instead use npm for publishes
  .github/workflows/release-stable.yml
  .todo
  package.json
  scripts/publish.sh
Due: prettier --write

feat: include assets in build script
  packages/anchor/package.json
  packages/button/package.json
  packages/card/package.json
  packages/cli/package.json
  packages/dropdown/package.json
  packages/label/package.json
  packages/message-box/package.json
  packages/presets/package.json
  packages/radio/package.json
  packages/react/package.json
  packages/spinner/package.json
  packages/switch/package.json
  scripts/build.sh
Due: prettier --write

fix: remove clsx and add types in build
  apps/docs/package.json
  package.json
  packages/anchor/package.json
  packages/button/package.json
  packages/card/package.json
  packages/cli/package.json
  packages/dropdown/package.json
  packages/label/package.json
  packages/label/src/main/components/Label/Label.scss
  packages/label/src/main/components/Label/index.tsx
  packages/message-box/package.json
  packages/presets/package.json
  packages/radio/package.json
  packages/react/package.json
  packages/spinner/package.json
  packages/switch/package.json
  packages/switch/src/main/components/Switch.tsx
  packages/switch/src/main/components/Switch/Switch.scss
  packages/switch/src/main/components/Switch/index.tsx
  packages/switch/src/main/components/index.ts
  packages/utils/package.json
  scripts/create-package.sh
  tsconfig.build.json
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

fix: dummy commit
  .todo
Due: none

fix: resolve issue in path of publish.sh
  scripts/publish.sh
Due: none

feat: remove declarationMap
  packages/anchor/tsconfig.build.json
  packages/button/package.json
  packages/button/tsconfig.build.json
  packages/card/tsconfig.build.json
  packages/cli/tsconfig.build.json
  packages/dropdown/tsconfig.build.json
  packages/eslint-config/tsconfig.build.json
  packages/jest-config/tsconfig.build.json
  packages/label/tsconfig.build.json
  packages/message-box/tsconfig.build.json
  packages/presets/tsconfig.build.json
  packages/radio/tsconfig.build.json
  packages/react/tsconfig.build.json
  packages/spinner/package.json
  packages/spinner/tsconfig.build.json
  packages/switch/tsconfig.build.json
  packages/utils/package.json
  packages/utils/tsconfig.build.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: aaply rootDir
  packages/anchor/tsconfig.build.json
  packages/button/tsconfig.build.json
  packages/card/tsconfig.build.json
  packages/cli/tsconfig.build.json
  packages/dropdown/tsconfig.build.json
  packages/eslint-config/tsconfig.build.json
  packages/jest-config/tsconfig.build.json
  packages/label/tsconfig.build.json
  packages/message-box/tsconfig.build.json
  packages/presets/tsconfig.build.json
  packages/radio/tsconfig.build.json
  packages/react/tsconfig.build.json
  packages/spinner/tsconfig.build.json
  packages/switch/tsconfig.build.json
  packages/utils/tsconfig.build.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: add yarn.lock
  yarn.lock
Due: none

feat: deployment commit
  .todo
Due: none

fix: add exports in package.json
  packages/anchor/package.json
  packages/button/package.json
  packages/card/package.json
  packages/cli/package.json
  packages/dropdown/package.json
  packages/label/package.json
  packages/message-box/package.json
  packages/presets/package.json
  packages/radio/package.json
  packages/react/package.json
  packages/spinner/package.json
  packages/switch/package.json
  packages/utils/package.json
  scripts/build.sh
Due: prettier --write

feat: eslint, stylelint, prettier, husky and bash scripts design
  .commitlintrc.json
  .eslintignore
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .stylelintrc.json
  .todo
  config/jest/forbidConsoleLogs.js
  eslint.config.js
  package.json
  packages/anchor/src/main/components/Anchor/Anchor.scss
  packages/button/src/main/components/Button/Button.scss
  packages/utils/aristobyte-ui.settings.scss
  packages/utils/src/main/helpers/ripple.tsx
  scripts/build.sh
  scripts/check-version.sh
  scripts/check-versions.js
  scripts/create-package.sh
  scripts/publish.sh
  scripts/test.sh
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve installation warnings
  .lintstagedrc
  .stylelintrc.json
  config/jest/jest.common.js
  config/jest/setupFilesAfterEnv.js
  config/log-suppress.json
  package.json
  scripts/filter-logs.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: add scss files for label and switch
  .todo
  packages/anchor/src/main/components/Anchor/Anchor.scss
  packages/button/src/main/components/Button/Button.scss
  packages/button/src/main/components/ButtonGroup/ButtonGroup.scss
  packages/dropdown/src/main/components/Dropdown/Dropdown.scss
  packages/dropdown/src/main/components/DropdownOption/DropdownOption.scss
  packages/label/src/main/components/Label/Label.scss
  packages/message-box/src/main/components/MessageBox/MessageBox.scss
  packages/radio/src/main/components/Radio/Radio.scss
  packages/spinner/src/main/components/Spinner/Spinner.scss
  packages/switch/src/main/components/Switch/Switch.scss
  renovate.json
Due: prettier --write, stylelint --fix

feat: create generate-build-tsconfig.js and create-package.sh
  .stylelintignore
  .todo
  config/templates/package/CHANGELOG.md
  config/templates/package/README.md
  config/templates/package/package.json
  config/templates/package/src/main/components/__COMPONENT_NAME__/__COMPONENT_NAME__.scss
  config/templates/package/src/main/components/__COMPONENT_NAME__/index.tsx
  config/templates/package/src/main/components/index.ts
  config/templates/package/src/main/index.ts
  config/templates/package/tsconfig.build.cjs.json
  config/templates/package/tsconfig.build.es.json
  config/templates/package/tsconfig.build.json
  config/templates/package/tsconfig.json
  eslint.config.js
  package.json
  scripts/build.sh
  scripts/create-package.sh
  scripts/generate-build-tsconfig.js
  tsconfig.build.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: resolve the issues with packages/button and apps/docs styling
  .gitignore
  .todo
  apps/docs/app/globals.scss
  apps/docs/app/layout.tsx
  apps/docs/components/Article/Article.scss
  apps/docs/components/Article/index.tsx
  apps/docs/components/Button/Button.scss
  apps/docs/components/Button/index.tsx
  apps/docs/components/Card/Card.scss
  apps/docs/components/Card/index.tsx
  apps/docs/components/CodeBlock/CodeBlock.scss
  apps/docs/components/CodeBlock/index.tsx
  apps/docs/components/Import/Import.scss
  apps/docs/components/Import/index.tsx
  apps/docs/components/Installation/Installation.scss
  apps/docs/components/Installation/index.tsx
  apps/docs/components/Intro/Intro.scss
  apps/docs/components/Intro/index.tsx
  apps/docs/components/Label/Label.scss
  apps/docs/components/Label/index.tsx
  apps/docs/components/Layout/Layout.scss
  apps/docs/components/Layout/Sidebar/Sidebar.scss
  apps/docs/components/Layout/Sidebar/index.tsx
  apps/docs/components/Layout/index.tsx
  apps/docs/components/Props/Props.scss
  apps/docs/components/Props/index.tsx
  apps/docs/components/Sections/Sections.scss
  apps/docs/components/Sections/index.tsx
  apps/docs/components/TypeBlock/TypeBlock.scss
  apps/docs/components/TypeBlock/index.tsx
  apps/sandbox/app/globals.scss
  package.json
  packages/anchor/src/main/components/Anchor/Anchor.scss
  packages/button/src/main/components/Button/Button.scss
  packages/button/src/main/components/Button/index.tsx
  scripts/dev.sh
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix
