Repository aristobyte-team/aristobyte-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: resolve the dropdown issues
  .todo
  apps/docs/components/Sections/mapping/Components/DropdownPreviewBlocks/Multiple.tsx
  apps/docs/config/codeBlocks.ts
  apps/docs/config/propsMapping.ts
  packages/dropdown/src/main/components/Dropdown/Dropdown.scss
  packages/dropdown/src/main/components/Dropdown/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: add aristobyte-ui cli to installation section in apps/docs
  apps/docs/config/config.ts
  apps/docs/config/helpers.ts
  packages/utils/src/main/icons/AristoByte.tsx
  packages/utils/src/main/icons/AristoByteCLI.tsx
  packages/utils/src/main/icons/AristoByteUI.tsx
  packages/utils/src/main/icons/AristoByteUICLI.tsx
  packages/utils/src/main/icons/index.ts
Due: eslint --fix

feat: apply the new tsc build logic to cli
  .todo
  LICENSE
  packages/cli/package.json
  packages/cli/src/main/commands/add.ts
  packages/cli/src/main/commands/doctor.ts
  packages/cli/src/main/commands/env.ts
  packages/cli/src/main/commands/init.ts
  packages/cli/src/main/commands/list.ts
  packages/cli/src/main/commands/remove.ts
  packages/cli/src/main/commands/upgrade.ts
  packages/cli/src/main/index.ts
  packages/cli/src/main/utils/checkVersion.ts
  packages/cli/src/main/utils/getBanner.ts
  packages/cli/src/main/utils/installPackage.ts
  packages/cli/src/main/utils/parseHelp.ts
  packages/cli/src/main/utils/typography.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  scripts/build.sh
  scripts/dev.sh
  scripts/pack-cli.sh
Due: eslint --fix, prettier --write

fix: local run of cli app
  packages/cli/package.json
  scripts/dev-cli.sh
  scripts/dev.sh
Due: prettier --write

fix: cli app pkg json path
  packages/cli/src/main/index.ts
Due: eslint --fix

chore: update the .github folder
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
Due: prettier --write

fix: lint
  .stylelintrc.json
  apps/docs/app/globals.scss
  apps/docs/components/Anchor/Anchor.scss
  apps/docs/components/Button/Button.scss
  apps/docs/components/Card/Card.scss
  apps/docs/components/CodeBlock/CodeBlock.scss
  apps/docs/components/Import/Import.scss
  apps/docs/components/Installation/Installation.scss
  apps/docs/components/Intro/Intro.scss
  apps/docs/components/Label/Label.scss
  apps/docs/components/Props/Props.scss
  apps/docs/components/TypeBlock/TypeBlock.scss
  apps/docs/styles/_settings.scss
  packages/card/src/main/components/Card/Card.scss
  packages/dropdown/src/main/components/DropdownOption/DropdownOption.scss
  packages/label/src/main/components/Label/Label.scss
  packages/presets/src/main/components/SocialMediaCard/SocialMediaCard.scss
  packages/utils/aristobyte-ui.settings.scss
Due: prettier --write, stylelint --fix

chore: dummy commit
  scripts/build.sh
Due: none

chore: update labeler.yml
  .github/labeler.yml
Due: prettier --write

docs: add value-block
  apps/docs/components/Sections/mapping/Presets/ValueBlockPreviewBlocks/Appearance.tsx
  apps/docs/components/Sections/mapping/Presets/ValueBlockPreviewBlocks/Radius.tsx
  apps/docs/components/Sections/mapping/Presets/ValueBlockPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Presets/ValueBlockPreviewBlocks/Variants.tsx
  apps/docs/components/Sections/mapping/Presets/ValueBlockPreviewBlocks/index.ts
  apps/docs/components/Sections/mapping/Presets/index.ts
  apps/docs/components/Sections/mapping/index.ts
  apps/docs/config/codeBlocks.ts
  apps/docs/config/components.ts
  apps/docs/config/config.ts
  apps/docs/config/propsMapping.ts
  apps/docs/data/translations/en-gb.ts
Due: eslint --fix

chore: fully remove the codeblocks hardcoded codes
  apps/docs/app/api/code/route.ts
  apps/docs/components/Import/index.tsx
  apps/docs/components/Layout/Sidebar/index.tsx
  apps/docs/components/Sections/index.tsx
  apps/docs/components/Sections/mapping/Components/AnchorPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Components/ButtonPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Components/CardPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Components/LabelPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Components/MessageBoxPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Components/RadioPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Components/SpinnerPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Components/SwitchPreviewBlocks/Usage.tsx
  apps/docs/config/codeBlocks.ts
  apps/docs/data/translations/index.ts
  packages/cli/src/main/utils/compareVersions.ts
  packages/dropdown/src/main/components/Dropdown/index.tsx
  packages/utils/src/main/helpers/Portal.tsx
  packages/utils/src/main/helpers/ripple.tsx
Due: eslint --fix

chore: apply the [skip ci]
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-stable.yml
Due: prettier --write

feat: update eslint-confg, typescript-config, jest-config and create prettier-config
  .todo
  packages/eslint-config/package.json
  packages/eslint-config/src/main/eslint.base.ts
  packages/eslint-config/src/main/eslint.next.ts
  packages/eslint-config/src/main/eslint.react.ts
  packages/eslint-config/src/main/modules.d.ts
  packages/eslint-config/tsconfig.build.cjs.json
  packages/eslint-config/tsconfig.build.es.json
  packages/jest-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/README.md
  packages/prettier-config/package.json
  packages/prettier-config/src/main/index.ts
  packages/prettier-config/tsconfig.build.cjs.json
  packages/prettier-config/tsconfig.build.es.json
  packages/prettier-config/tsconfig.build.json
  packages/prettier-config/tsconfig.json
  packages/typescript-config/README.md
  packages/typescript-config/package.json
  packages/typescript-config/tsconfig.base.json
  packages/typescript-config/tsconfig.json
  packages/typescript-config/tsconfig.library.json
  packages/typescript-config/tsconfig.node.json
  packages/typescript-config/tsconfig.tsbuildinfo
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update readme
  README.md
  apps/docs/README.md
  apps/sandbox/README.md
  packages/anchor/README.md
  packages/button/README.md
  packages/card/README.md
  packages/cli/README.md
  packages/dropdown/README.md
  packages/eslint-config/README.md
  packages/jest-config/README.md
  packages/label/README.md
  packages/message-box/README.md
  packages/prettier-config/README.md
  packages/radio/README.md
  packages/react/README.md
  packages/spinner/README.md
  packages/switch/README.md
  packages/typescript-config/README.md
  packages/utils/README.md
Due: prettier --write

fix: resolve eslint type issue
  packages/eslint-config/src/main/eslint.next.ts
Due: eslint --fix

fix: resolve the issues related to the block value [skip ci]
  apps/docs/components/Sections/mapping/Presets/ValueBlockPreviewBlocks/Usage.tsx
  apps/docs/components/Sections/mapping/Presets/ValueBlockPreviewBlocks/Variants.tsx
  packages/presets/src/main/components/ValueBlock/ValueBlock.scss
  packages/presets/src/main/components/ValueBlock/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add aristo badges logo to utils
  .todo
  README.md
  packages/utils/src/main/icons/AristoBadges.tsx
  packages/utils/src/main/icons/index.ts
Due: eslint --fix, prettier --write

fix: fix the aristo-badges logo center dot
  packages/utils/src/main/icons/AristoBadges.tsx
Due: eslint --fix

fix: remove warnings from aristobadges icon
  packages/utils/src/main/icons/AristoBadges.tsx
Due: eslint --fix

feat: remove all workflows except of the realase-stable
  scripts/publish.sh
Due: none

fix: export the new icons
  packages/utils/src/main/icons/index.ts
Due: eslint --fix

fix: add aristo-repo icon
  packages/utils/src/main/icons/AristoRepo.tsx
  packages/utils/src/main/icons/index.ts
Due: eslint --fix

fix: resolve the issue with props inside icons
  .todo
  packages/utils/src/main/icons/ArrowLeft.tsx
  packages/utils/src/main/icons/Dna.tsx
  packages/utils/src/main/icons/Plug.tsx
  packages/utils/src/main/icons/Puzzle.tsx
  packages/utils/src/main/icons/Zap.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{json,md,yaml,yml,html}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
